@model Team18App.Models.task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.task_budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task_budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.task_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.task_deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task_deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.task_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.task_expenses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task_expenses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.project_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.project_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.task_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
