@model IEnumerable<Team18App.Models.department>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dept_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.Fname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dept_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.Fname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DEPT_NUM }) |
            @Html.ActionLink("Details", "Details", new { id=item.DEPT_NUM }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DEPT_NUM })
        </td>
    </tr>
}

</table>
