@model Team18App.Models.client

@{
    ViewBag.Title = "Details";
    bool isAdmin = false;
    bool isDhead = false;
    bool isEmployee = false;
    if (User.Identity.Name.Contains("AdminUser"))
    {
        isAdmin = true;
        isDhead = true;
        isEmployee = true;
    }
    if (User.Identity.Name.Contains("DepartmentHead"))
    {
        isDhead = true;
        isEmployee = true;
    }
    if (User.Identity.Name.Contains("Employee"))
    {
        isEmployee = true;
    }
}

<h2>Details</h2>
@if (isDhead) {
<div>
    <h4>client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Minit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENT_COMPANY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENT_COMPANY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.project_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.project_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CLIENT_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
}
else {
<h2>Insufficient Viewing Privileges</h2>
}