@model IEnumerable<Team18App.Models.getProjectInfo_Result>

@{
    ViewBag.Title = "getProjectInfo";
    bool isAdmin = false;
    bool isDhead = false;
    bool isEmployee = false;
    if (User.Identity.Name.Contains("AdminUser"))
    {
        isAdmin = true;
        isDhead = true;
        isEmployee = true;
    }
    if (User.Identity.Name.Contains("DepartmentHead"))
    {
        isDhead = true;
        isEmployee = true;
    }
    if (User.Identity.Name.Contains("Employee"))
    {
        isEmployee = true;
    }
}

<h2>Project Info Report</h2>

<style type="text/css">
    th {
        padding: 0 20px;
    }

    td {
        padding: 0 20px;
    }
</style>
<table>

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount_of_Related_Tasks)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Project_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount_of_Related_Tasks)
            </td>

        </tr>

    }

</table>  