@model IEnumerable<Team18App.Models.WorksOn>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoursWorked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoursWorked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.ProjectStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorksOnID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WorksOnID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorksOnID })
        </td>
    </tr>
}

</table>
